$light-blue: #c9f7ff;
$very-light-blue: #f4fdff;
$dark-blue: #004d5a;
$orange: #ffa600;
$red: #ff4646;

%center{
    align-items: center;
    display: flex;
    justify-content: center;
}

%section-default{
    color: $dark-blue;
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 72px;
    width: 100%;
}

%button{
    background-color: $very-light-blue;
    border: 2px solid $dark-blue;
    color: $dark-blue;
    cursor: pointer;
    font-size: 20px;
    padding: 12px 24px;

    &:focus-visible{
        border: 2px solid $orange;
        outline: none;
    }
}