@use './Variables' as *;
@use '../components/Other/StepsDisplay/StepsDisplay';
@use '../components/Layouts/PersonalDataLayout/PersonalDataLayout';
@use '../components/Layouts/AccountTypeLayout/AccountTypeLayout';
@use '../components/Layouts/AddonsLayout/AddonsLayout';
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Libre Franklin';
    margin: 0;
    padding: 0;
}

#root, body{
    align-items: center;
    background-color: $light-blue;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}

main{
    display: flex;
    height: 100%;
    width: 100%;
}

@media (orientation: portrait) {
    main{
        flex-direction: column;
    }
}